<header class="header">
    <img class="logo" src="./../../assets/img/logo-no-background.png" alt="Logo" [ngClass]="{'opacity-zero' : sidebarOpen}">
    <div class="link-container">
        <a routerLink="about-me" (click)="scrollToAnchroingPosition('about-me')">{{ "header.aboutMe" | translate}}</a>
        <a routerLink="my-skills" (click)="scrollToAnchroingPosition('my-skills')">{{ "header.skillset" | translate}}</a>
        <a routerLink="my-work" (click)="scrollToAnchroingPosition('my-work')">{{ "header.mywork" | translate}}</a>
        <a routerLink="contact" (click)="scrollToAnchroingPosition('contact')">{{ "header.contact" | translate}}</a>
        <div class="language-container">
            <a> <span (click)="changeLanguage('de')">DE</span></a>
            <div class="divider"></div>
            <a> <span (click)="changeLanguage('en')">EN</span></a>
        </div>


    </div>
    <div class="mobile-header">
        <label for="check">
            <input type="checkbox" (click)="openSidebar()" [checked]="sidebarOpen" id="check" class="d-none" />
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
</header>

<div id="sidebar" [ngClass]="{'is-hidden' : !sidebarOpen}">
    <img class="logo" src="./../../assets/img/logo-no-background-green.png" alt="Logo">
    <a (click)="closeSidebar()" routerLink="about-me" (click)="scrollToAnchroingPosition('about-me')">{{ "header.aboutMe" | translate}}</a>
    <a (click)="closeSidebar()" routerLink="my-skills" (click)="scrollToAnchroingPosition('my-skills')">{{ "header.skillset" | translate}}</a>
    <a (click)="closeSidebar()" routerLink="my-work" (click)="scrollToAnchroingPosition('my-work')">{{ "header.mywork" | translate}}</a>
    <a (click)="closeSidebar()" routerLink="contact" (click)="scrollToAnchroingPosition('contact')">{{ "header.contact" | translate}}</a>
    <div class="language-container">
        <a> <span (click)="changeLanguage('de')">DE</span></a>
        <div class="divider"></div>
        <a> <span (click)="changeLanguage('en')">EN</span></a>
    </div>
</div>