footer {
    height: 291px;
    background: radial-gradient(
      71.18% 335.57% at 28.82% -124.4%,
      #57e8a2 51.56%,
      #33b476 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span,
    a {
      color: white;
      text-decoration: none;
    }
    .footer-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .social-media {
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        a {
          cursor: pointer;
        }
      }
    }
  }
  
  @media (max-width: 700px) {
    .footer-links {
      flex-direction: column;
      gap: 30px;
    }
  }