.form-container {
    display: flex;
}

.container-left {
    width: 50%;
    height: 400px;
}

.container-right {
    width: 50%;
    height: 400px;
}

form {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 60%, 600px);
}