<div class="contact-container">
    <h2 class="font-baloo margin-top">{{ "contact.header" | translate}}</h2>
    <div class="form-container">
        <div class="container-left">
            <h3>{{ "contact.header2" | translate}}</h3>
            <p>{{ "contact.contactText" | translate}}</p>
            <a href="#contactName">{{ "contact.contactLinkText" | translate}} <b class="font-baloo">{{
                    "contact.contactLink" | translate}}</b></a>
        </div>
        <div class="container-right">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <input #name="ngModel"
                    [ngClass]="{'invalidForm' : !name.valid && name.dirty, 'validForm' : name.valid && name.dirty}"
                    [(ngModel)]="contactData.name" name="name" type="text"
                    placeholder="{{'contact.form.name' | translate}}" id="contactName" required>
                @if (name.valid) {
                <span class="valid"></span>
                }
                @else if(!name.valid && name.dirty || !contactForm.valid && contactForm.submitted){
                <span class="warning">{{ "contact.form.nameError" | translate}}</span>
                }
                <input #mail="ngModel"
                    [ngClass]="{'invalidForm' : !mail.valid && mail.dirty, 'validForm' : mail.valid && mail.dirty}"
                    [(ngModel)]="contactData.email" name="email" type="text"
                    placeholder="{{'contact.form.mail' | translate}}" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                @if ( mail.valid) {
                <span class="valid"></span>
                }
                @else if(!mail.valid && mail.dirty || !contactForm.valid && contactForm.submitted){
                <span class="warning">{{ "contact.form.mailError" | translate}}</span>
                }
                <textarea #message="ngModel"
                    [ngClass]="{'invalidForm' : !message.valid && message.dirty, 'validForm' : message.valid && message.dirty}"
                    minlength="4" [(ngModel)]="contactData.message" name="message" id=""
                    placeholder="{{'contact.form.message' | translate}}" required></textarea>
                @if ( message.valid) {
                <span class="valid"></span>
                }
                @else if(!message.valid && message.dirty || !contactForm.valid && contactForm.submitted){
                <span class="warning">{{ "contact.form.messageError" | translate}}</span>
                }
                <div class="terms flex">
                    <input type="checkbox" name="terms" (change)="checkTerms($event)" [checked]="termsChecked">
                    <span>  {{ "contact.form.privacyBefore" | translate}} 
                            <a routerLink="privacy" (click)="scrollToAnchroingPosition('privacy')">{{"contact.form.privacy" | translate}}</a>
                            {{ "contact.form.privacyAfter" | translate}}
                    </span>
                </div>
                @if (!termsChecked && contactForm.submitted) {
                    <span class="warning">{{ "contact.form.privacyError" | translate}}</span>
                    }
                <button
                    [ngClass]="{'invalidFormButton' : !mail.valid || !message.valid || !name.valid || !termsChecked }"
                    type="submit">{{ "contact.form.button" | translate}}</button>
            </form>
        </div>
    </div>

</div>@if(mailSendWindowOpen){
        <div class="mail-send-container">
        <div class="mail-send">
                  E-mail erfolgreich gesendet
        </div>
    </div>
}

