<div class="project-container margin-top" [ngClass]="{'row-reverse' : index%2 == 0}">
    <img data-aos="fade-up" src="./../../../assets/img/{{project.img}}" alt="">
    <div class="description-container">
        <h3 class="font-baloo">{{ project.name }}</h3>
        <h4>{{ project.skills }}</h4>
        <p>{{ "mywork.projectDescription" | translate: {description: project.description, descriptionEn: project.descriptionEn} }}</p>
        <div class="button-container">
            <a href={{project.githubLink}}><button>Github</button></a>
            <a href={{project.liveLink}}><button>Live Test</button></a>
        </div>

    </div>
</div>