<div class="project-container margin-top" [ngClass]="{'row-reverse' : index%2 == 0}">
    <img data-aos="fade-up" src="./../../../assets/img/{{project.img}}" alt="">
    <div class="description-container">
        <h3 class="font-baloo">{{ project.name }}</h3>
        <h4>{{ project.skills }}</h4>
        <p>{{ 'mywork.projectDescription' | translate: descriptionTranslate }}</p>
        <div class="button-container">
            <button>Github</button>
            <button>Live Test</button>
        </div>

    </div>
</div>
<!-- {{ 'mywork.[project.name].name' | translate }} -->