<div id="imprint" class="background-container">
    <div class='imprint padding-tb'>
        <h1 class="font-baloo">{{ "imprint.title" | translate}}</h1><br>
        <p>{{ "imprint.according" | translate}}</p>
        <p>Heiko Nevoigt <br>
            Johann Sebastian Bach Straße 2<br>
            02977 Hoyerswerda <br><br>
        </p>
        <p> <strong>{{ "imprint.represent" | translate}} </strong><br>
            Heiko Nevoigt<br><br>
        </p>
        <p><strong>{{ "imprint.contact" | translate}}</strong> <br>
            {{ "imprint.phone" | translate}}: 0152-27599257<br>
            {{ "imprint.mail" | translate}}: <a href='mailto:heiko.nevoigt@googlemail.com'>heiko.nevoigt&#64;googlemail.com</a><br></p><br>
        <p><strong>{{ "imprint.disclaimer" | translate}} </strong><br><br><strong>{{ "imprint.disclaimerLinks" | translate}}</strong><br><br>
            {{ "imprint.disclaimerLinksText" | translate}}
            <br><br><strong id="privacy">{{ "imprint.dataProtection" | translate}}</strong><br><br>
            {{ "imprint.dataProtection2" | translate}}
            <br>
            {{ "imprint.dataProtection3" | translate}}
             <br>
             {{ "imprint.dataProtection4" | translate}}
             <br>
        </p><br>
    </div>
    </div>