<div class="main-content padding-tb">
    <div class="headline">
        <h2 class="font-baloo">My work</h2>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>


    <div>
        @for (project of projectService.projects; track i; let i = $index) {
        <app-project [project]='project' [index]="i"></app-project>
        }
    </div>
    <app-contact id="contact"></app-contact>
    <a class="scroll-up-button" href="#startscreen"><img src="./../../assets/img/Go up button s2.png" alt=""></a>
    <div class="background-container">
        <div class="bubble1"></div>
        <div class="bubble2"></div>
        <div class="bubble3"></div>
        <div class="bubble4"></div>
        <div class="bubble5"></div>
        <div class="bubble6"></div>
        <div class="bubble7"></div>
    </div>

</div>