.main-content {
    background-image: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%);

    h2 {
        font-size: 96px;
        line-height: 96px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #57E8A2;
    }
}