<app-header></app-header>
<div class="startscreen-container">
    <div class="picture-container">
        <img src="./../../assets/img/avatar.png" alt="">
    </div>
    <div class="description-container">
        <div class="header-font-container">
            <h2>Hello! I am Heiko</h2>
            <h1 class="font-baloo">FRONTEND DEVELOPER</h1>
        </div>
        <div class="scroll-container">
            <span>SCROLL</span>
            <div class="line"></div>
        </div>

    </div>
</div>