.startscreen-container {
    display: flex;
    background-image: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%);
    height: 100vh;

    .picture-container {
        width: 50%;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            height: 80%;
        }
        .ellipse{
            bottom: auto;
            height: auto;
        }
    }

    .description-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        z-index: 5;

        .scroll-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            span {
                margin: 130px auto auto auto;
                color: #57E8A2;
            }

            .line {
                flex: 1;
                border: 2px solid #57E8A2;
                width: 0px;
            }
        }



    }
}



h2 {
    margin-top: 232px;
    font-size: 64px;
    color: #57E8A2;
    font-weight: 400;
}

h1 {
    font-size: 128px;
    line-height: 153px;
    letter-spacing: -2.5px;
    color: #57E8A2;
}