<div class="description-container">
    <div class="headline">
        <h1 class="font-baloo">LET´S WORK TOGETHER</h1>
    </div>

    <div class="description">
        <p>I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their
            ideas
            into real life. I am looking forward to continuing my developer career with a job in a junior web developer
            position.</p>
        <p>If you think I’d be a good match for your projects, contact me!</p>
        <button class="button">Contact me</button>

    </div>
</div>