.skillset-container-wrapper {
    background: linear-gradient(128.95deg, #57E8A2 32.52%, #33B476 104.12%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 93px;
    padding-bottom: 88px;

    h2 {
        color: white;
    }
}

.skillset-container {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.skill-img {
    display: flex;
    flex-direction: column;
    width: 15%;
    color: white;
    align-items: center;
    justify-content: center;
    &:hover{
        transform: translateY(-10px);
        span {
            transform: translateY(10px);
            text-shadow:0px 0px 1px  white;
        }
    }

    span {
        font-size: 16px;
        margin-top: 10px;
        font-weight: 400;
    }
}



.skill-img img {
    width: 75px;
    height: 75px;
}