.skillset-container-wrapper {
    background: linear-gradient(128.95deg, #57e8a2 32.52%, #33b476 104.12%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      color: white;
    }
  }
  
  .skillset-container {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-inline: auto;
    width: clamp(300px, 90vw, 1440px);
  }
  
  .skill-img {
    display: flex;
    flex-direction: column;
    width: 20%;
    color: white;
    align-items: center;
    justify-content: center;
  
    &:hover {
      transform: translateY(-10px);
  
      span {
        transform: translateY(10px);
        text-shadow: 0px 0px 1px white;
      }
    }
  
    span {
      font-size: 16px;
      margin-top: 10px;
      font-weight: 400;
    }
  }
  
  .skill-img img {
    width: 75px;
    height: 75px;
  }
  